@{
    ViewBag.Title = "Index";
}
@section AdditionalHead {
    @Scripts.Render("~/bundles/manage/recovery")

    <script type="text/javascript">
        define('startup',
        [
            'jquery',
            'knockout',
            'admin/global-nav',
            'manage/template-editor-view-model'
        ], function ($, ko, globalNav, templateEditorViewModel) {
            
            return {
                onStart: function () {
                    console.debug('Recovery startup.onStart');
                    globalNav.select('/manage/recovery');
                }
            };
        });
    </script>
}
<div class="admin-content" id="recovery-section">
    <div class="row-fluid">
        <div class="span6" id="backup-section">
            <h3>Backup</h3>

            @Html.ActionLink("Download Backup", "Backup")
        </div>
        <div class="span6" id="restore-section">
            <h3>Restore</h3>

            <div class="upload-section" data-bind="visible: !loadComplete()">
                <form class="drop-upload" data-bind="visible: !loading(), attr:{action: '@Url.Action("Restore")/' + correlationToken()}" method="post" enctype="multipart/form-data">
                    <div class="drop-zone">
                        <div>
                            <div>Drop Backup Here</div>
                            <a data-bind="click: upload">Browse</a>
                            <input type="file" name="file" />
                        </div>
                    </div>
                </form>
                <div data-bind="visible: loading">
                    <div class="progress progress-striped active">
                        <div class="bar" data-bind="style: { width: percentageLoaded() + '%' }"></div>
                    </div>
                    <div style="color:white" data-bind="text: dataLoaded() + '/' + dataTotal() + ' (' + percentageLoaded() + '%)'"></div>
                </div>
            </div>
            <div id="recovery-selection" data-bind="visible: loadComplete()">
                <div class="list-header row-fluid clickable-row">
                    <div data-bind="click: clickSelectAll, css:{selected: allSelected}">
                        <div class="checkbox span1"></div><span>Select All</span>
                    </div>
                </div>
                <ul data-bind="foreach: posts" class="posts">
                    <li class="row-fluid clickable-row" data-bind="css: {selected: selected}, click: toggleSelected">
                        <div class="span1 row-checkbox">
                            <div class="checkbox"></div>
                        </div>
                        <div class="span11" data-bind="text: Title"></div>
                    </li>
                </ul>
                <button class="btn" type="submit" data-bind="click: cancel">Cancel</button>
                <button class="btn btn-success" type="submit" data-bind="click: restoreSelected, text: restoreButtonText, enable: selectedCount() > 0"></button>
            </div>

        </div>
    </div>
</div>