@{
    ViewBag.Title = "Blog Recovery";
}

<script type="text/javascript">
    $(function () {
        $("#my-awesome-dropzone").dropzone({ /* options */ });
    });
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Blog Recovery</h3>
</div>

<div class="modal-body blog-recovery-modal">
    @Html.ActionLink("Download Backup", "Backup")

    <form action="@Url.Action("Restore")" class="dropzone" id="my-awesome-dropzone" method="post" enctype="multipart/form-data">
        <div class="fallback">
            <input name="file" type="file" />
        </div>
    </form>
</div>
