@{
    ViewBag.Title = "Restore";
}

<script type="text/javascript">
    
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Restore Blog</h3>
</div>

<div class="modal-body restore-modal">
    
</div>
