.permission-set-title {
    font-weight:bold;
    padding-bottom:15px;
}

.permission-set-member {
    float:left;
}


.permission-set-member-row {
    padding-bottom:10px;
}

.permission-set-invite-row {
    height:40px;
}

.rounded-border {
    position: relative;
    margin: 15px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

    .rounded-border table {
        margin-bottom:0px;
    }

.no-margin {
    margin:0px;
}