.post-title-link {
	width: 670px;
	font-size: 1.8em;
	margin:0px;
	float: left;
}

.post-detail-header{
    margin-bottom:5px;
}

.post-nav {
    margin-top:15px;
}

.post-detail {
    margin:0px;
}

.post-detail-contents {
    padding:10px;
    border:solid;
    min-height:150px;
}

.post-detail-contents .description {
	font-size: 0.8em;
}

.no-margin {
	margin:0px;
}
.actions {
	width: 45px;
	margin-left:25px;
}

.last-modified,
.published-date {
	float: left;
	color: grey;
}

.last-modified label,
.published-date label {
	float: left;
	margin-left: 10px;
	margin-right: 5px;
	font-weight: bold;
	font-size: 0.8em;
}

.last-modified span,
.published-date span {
	float: left;
	font-size: 0.8em;
}