@{
    ViewBag.Title = "Log in";
}

<div class='sign-in-buttons'>
	<a id='sign-in-google' class='btn btn-block btn-social btn-lg btn-google'  href='/account/external-login/Google'>
		<i class= 'fa fa-google'>Sign in with Google</i>
	</a>
</div>