@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Permission Denied - StaticVoid</title>
</head>
<body>
    <div>
        Permission Denied, //TODO make me friendlier
    </div>
</body>
</html>
