<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/error")
    <title>@ViewBag.Title - StaticVoid</title>
</head>
<body>
    <div class="error-container">
        @RenderBody()
    </div>
</body>
</html>
