@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Error";
}
@if (Model != null && Model.Exception != null)
{
    <div class="error-code">500</div>
    <div class="comment">Oh no! It seems you have found a bug!</div>
    <div class="comment">Ive logged the issue and will get on it right away</div>
}
else
{
    <div class="error-code">Error</div>
    <div class="comment">Not too sure what happened here, perhaps a 400?</div>
    <div class="comment">Ive logged the issue anyway...</div>
}
