@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error - StaticVoid</title>
</head>
<body>
    <div>
        <hgroup class="title">
            <h1 class="error">Error.</h1>
            <h2 class="error">You seem to have encountered some kind of error, the problem has been logged and I will look at it asap</h2>
        </hgroup>
        @if (Model != null && Model.Exception != null)
        {
            <text>Hello</text>
        }
    </div>
</body>
</html>
