@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found - StaticVoid</title>
</head>
<body>
    <div>
        Not found, //TODO make me friendlier
    </div>
</body>
</html>
