@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Not Found";
}

<div class="error-code">404</div>
<div class="comment">//The resource you were looking for isn't at this URL</div>
