@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Ping</title>
</head>
<body>
    <div>
        <h1>Looks like im up :)</h1>
    </div>
</body>
</html>
