@model StaticVoid.Blog.Site.Areas.Manage.Models.MyProfileModel

@{
    ViewBag.Title = "My Profile";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">My Profile</h3>
</div>


@using (Html.BeginForm("EditMyProfile", "UserProfile", FormMethod.Post, new { @class = "modal-form" }))
{
    <div class="modal-body">
        @Html.ValidationSummary(true)

        <div>
            @Html.LabelFor(m => m.GooglePlusProfileUrl)
            @Html.TextBoxFor(m => m.GooglePlusProfileUrl)
        </div>
    </div>
    
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-success" type="submit">Save</button>
    </div>
}
